<div class="card mb-12">
    <div class="card-body table-responsive">
        <div>
             <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                [headerHeight]="40" [footerHeight]="40" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable">
                <ngx-datatable-column name="S.N">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{rowIndex+1}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Question">
                        <ng-template let-ques="row" ngx-datatable-cell-template>
                                {{ques.question.name}}
                            </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Subject">
                        <ng-template let-sub="row" ngx-datatable-cell-template>
                                {{sub.question.subject.name}}
                            </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Answer">
                        <ng-template let-ans="row" ngx-datatable-cell-template>
                                {{ans.value}}
                            </ng-template>
                </ngx-datatable-column>
                            
                <ngx-datatable-column name="Action" prop="id" [sortable]="false">
                    <ng-template let-rowIndex="rowIndex" let-id="id" let-value="value" ngx-datatable-cell-template>
                        <i class="fa fa-pencil-square-o" [routerLink]="['/product/editproduct/'+value]">
                        </i>
                        <i class="fa fa-eye"  [routerLink]="['/assignment/'+value]"></i>
                       
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> 
  
        </div>
    </div>
  </div>
  
  
