<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/1.png" width="150px" class="user-avatar" />
            <h1>Online Assignment System</h1>
            <form role="form" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="username" [(ngModel)] ="user.username" class="form-control input-underline input-lg"  placeholder="{{ 'username' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)] ="user.password" class="form-control input-underline input-lg"  placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="text-danger" > {{error}}
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                
            </form>
        </div>
    </div>
</div>
