<div class="card mb-12">

    <div class="card-body table-responsive">
        <div>
             <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                [headerHeight]="40" [footerHeight]="40" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable">
                <ngx-datatable-column name="S.N">
                    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        {{rowIndex+1}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="First Name">
                        <ng-template let-fname="row" ngx-datatable-cell-template>
                                {{fname.user.firstName}}
                            </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Last Name">
                        <ng-template let-lname="row" ngx-datatable-cell-template>
                                {{lname.user.lastName}}
                            </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Address">
                        <ng-template let-address="row" ngx-datatable-cell-template>
                                {{address.user.address}}
                            </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email">
                        <ng-template let-email="row" ngx-datatable-cell-template>
                                {{email.user.email}}
                            </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Subject" ></ngx-datatable-column>               
                <ngx-datatable-column name="Action" prop="id" [sortable]="false">
                    <ng-template let-rowIndex="rowIndex" let-id="id" let-value="value" ngx-datatable-cell-template>
                        <i class="fa fa-pencil-square-o" [routerLink]="['/teacher/'+value]">
                        </i>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable> 
  
        </div>
    </div>
  </div>
  
  